$base-color: #e7edf1;
$shine-color: #eff5f9;
$animation-duration: 1.6s;

@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
  background-size: 600px;
}

.app-sl {
  &__wrapper {

  }

  &__flex {
    display: flex;

    &-between {
      justify-content: space-between;
    }

    &-bottom {
      align-items: flex-end;
    }

    &-center {
      align-items: center;
    }
  }

  &__line {
    width: 100%;
    height: 22px;
    border-radius: 3px;

    @include background-gradient;
    animation: shine $animation-duration infinite linear;
  }

  &__ellipse {
    display: inline-block;
    width: 140px;
    height: 22px;
    border-radius: 24px;
    background: #e7edf1;

    &-small {
      width: 90px;
    }

    &-big {
      width: 220px;
    }
  }

  &__square {
    display: inline-block;
    width: 248px;
    height: 268px;

    border: 1px solid #e7edf1;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

    position: relative;

    padding: 24px;

    &-small {
      width: 12px;
      height: 12px;
    }

    &-bg {
      background: #e7edf1;
    }

    &-large {
      width: 180px;
      height: 180px;
    }

    &-ws {
      box-shadow: none;
    }
  }

  &__icon {
    display: block;
    width: 56px;
    height: 56px;

    background: #e7edf1;
    border-radius: 10px;

    &--large {
      width: 104px;
      height: 104px;
    }
  }

  &-mt {
    &20 {
      margin-top: 20px;
    }

    &25 {
      margin-top: 25px;
    }

    &30 {
      margin-top: 30px;
    }

    &35 {
      margin-top: 35px;
    }

    &40 {
      margin-top: 40px;
    }

    &50 {
      margin-top: 50px;
    }

    &60 {
      margin-top: 60px;
    }
  }

  &-mb {
    &10 {
      margin-bottom: 10px;
    }

    &20 {
      margin-bottom: 20px;
    }

    &25 {
      margin-bottom: 25px;
    }

    &30 {
      margin-bottom: 30px;
    }

    &35 {
      margin-bottom: 35px;
    }

    &40 {
      margin-bottom: 40px;
    }

    &50 {
      margin-bottom: 50px;
    }

    &60 {
      margin-bottom: 60px;
    }

    &100 {
      margin-bottom: 100px;
    }

    &140 {
      margin-bottom: 140px;
    }
  }

  &-mr {
    &20 {
      margin-right: 20px;
    }

    &25 {
      margin-right: 25px;
    }

    &30 {
      margin-right: 30px;
    }

    &35 {
      margin-right: 35px;
    }

    &50 {
      margin-right: 50px;
    }
  }

  &-w {
    &1\/2 {
      width: 50%;
    }

    &1\/3 {
      width: 33.333%;
    }

    &2\/3 {
      width: 66.666%;
    }

    &4\/5 {
      width: 80%;
    }

    &1\/4 {
      width: 25%;

      &-wrapper {
        width: calc(25% - 40px);
      }
    }

    &1\/5 {
      width: 20%;
    }

    &2\/5 {
      width: 40%;
    }
  }
}


@keyframes shine {
  0% {
    background-position: -100px;
  }

  40%, 100% {
    background-position: 500px;
  }
}
