$background: #f5f5f5;
$background-gray: #f5f5f5;
$background-lightgray: #f3f3f3;

$trueBlack: #000000;
$black: rgba(0, 0, 0, 0.87);
$black60: rgba(0, 0, 0, 0.6);
$black40: rgba(0, 0, 0, 0.4);
$black20: rgba(0, 0, 0, 0.2);
$black10: rgba(0, 0, 0, 0.1);
$black05: rgba(0, 0, 0, 0.05);

$white: rgba(255, 255, 255, 1);
$white85: rgba(255, 255, 255, .85);
$white60: rgba(255, 255, 255, .6);
$white40: rgba(255, 255, 255, .4);
$white30: rgba(255, 255, 255, .3);

$primary: rgba(18, 166, 166, 1);
$primary60: rgba(18, 166, 166, 0.6);
$primary40: rgba(18, 166, 166, 0.4);
$primary15: rgba(18, 166, 166, 0.15);

$link: #5db9f2;
$error: #ff6767;
$success: #00cb9d;
$info: #ff3a2c;

$orange: rgb(243, 166, 51);

// responsive grid
$responsive: (
    (320px, 1024px),
    (1366px, 1112px),
    (1600px, 1348px),
    (1920px, 1680px)
);
